.avatar {
  .avatar-imageWrapper {
    background-size: cover;
    border-radius: 50%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
  }
}

.avatar--large {
  .avatar-imageWrapper {
    margin-bottom: 1rem;
  }

  .avatar-position, .avatar-name {
    display: block;
    text-align: center;
  }
}

.avatar-position {
  color: $blue;
}

.avatar-name {
  font-size: 1.5rem;
  margin: 0;

  @include if_narrower_than($two-column-breakpoint) {
    font-size: 1rem;
  }
}
