body {
  color: $gray;
  font: 400 1em/1.4 $body-font;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: $header-font;
  line-height: 1.2;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $dark-blue;
  }
}

strong {
  font-weight: 800;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

article {
  @include if_narrower_than($two-column-breakpoint) {
    overflow-x: hidden;
  }
}
