.flatList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  ul {
    padding: 0;
  }

  li, p {
    display: inline-block;
    margin: 1rem 0 0 0;
    width: 100%;

    > a {
      @include append-libretto-arrow;
      color: $blue;
    }
  }

  h2 {
    margin: 1rem 0 0;
  }

  .sqs-block-content>*:first-child {
    margin-top: 1rem;
  }
}

.flatList--twoColumns {
  @include if_wider_than($two-column-breakpoint) {
    @include columns(2);
  }
}
