.longform {
  font-size: 1.125rem;
  line-height: 1.5;
  overflow-x: hidden;

  p:last-of-type {
    margin-bottom: 0;
  }

  blockquote {
    font-style: italic;
  }
}

.longform-emphasize {
  font-size: 1.75rem;
  font-style: italic;

  @include if_narrower_than($two-column-breakpoint) {
    font-size: 1.5rem;
  }
}
