.mainFooter {
  background-color: $gray;
  color: #fff;
  @include fill-overflow();
  margin-top: 4rem;
  overflow: auto;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.mainFooter-logo {
  margin-top: .6rem;

  @include if_wider_than($two-column-breakpoint) {
    @include shift(2);
    @include span-columns(14);
  }

  @include if_narrower_than($two-column-breakpoint) {
    @include fill-parent();
  }

  .logoWithPeriod {
    height: $logo-height;
    opacity: 1;

    path {
      fill: #fff;
    }
  }

  p {
    margin: .45rem 0 0;
  }

  span:not(:last-child)::after {
    color: $blue;
    content: ' | ';
  }
}

.mainFooter-contact {
  @include if_wider_than($two-column-breakpoint) {
    @include span-columns(7);
  }

  @include if_narrower_than($two-column-breakpoint) {
    @include fill-parent();
    margin-top: 2rem;
  }
}

.mainFooter-contact-social {
  height: 38px;
  padding-top: 12px;

  a {
    display: inline-block;
    margin-right: .5rem;

    &:hover svg {
      fill: $dark-blue;
    }

    &:not(.twitter):not(.facebook) {
      display: none;
    }

    &.twitter svg.twitter, &.facebook svg.facebook {
      display: block;
    }
  }
  
  svg {
    display: none;
    fill: $blue;
    height: 20px;
  }
}

.mainFooter-contact-address {
  margin: .5rem 0 1rem;

  span {
    display: block;
    font-style: normal;
  }
}
