@mixin fill-overflow {
  margin-left: -$overflow-width;
  padding-left: $overflow-width;
  padding-right: $overflow-width;
  width: calc(100% + #{$overflow-width * 2});
  width: calc(~"100% + #{$overflow-width * 2}");
}

@mixin inline-span-columns($columns) {
  @include span-columns($columns);
  display: inline-block;
  float: none;
  vertical-align: top;
}

@mixin libretto-arrow-base-styles {
  color: $blue;
  font-family: $body-font;
  font-weight: normal;
}

@mixin append-libretto-arrow {
  &::after {
    @include libretto-arrow-base-styles;
    content: ' –\00BB';
    @content;
  }
}

@mixin prepend-libretto-arrow {
  &::before {
    @include libretto-arrow-base-styles;
    content: '–\00BB ';
    @content;
  }
}

@mixin prepend-backwards-libretto-arrow {
  &::before {
    @include libretto-arrow-base-styles;
    content: '\00AB– ';
    @content;
  }
}

@mixin if_narrower_than($breakpoint) {
  @media screen and (max-width: $breakpoint - 1) {
    @content
  }
}

@mixin if_wider_than($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content
  }
}

@mixin if_wider_than_and_narrower_than($breakpoint1, $breakpoint2) {
  @media screen and (min-width: $breakpoint1) and (max-width: $breakpoint2 - 1) {
    @content
  }
}
