.nameAndTheme {
  @include span-columns(11);
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;

  .no-touch & {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    height: 320px;
    
    &:hover {
      .nameAndTheme-detail {
        @include transform(translateY(0%));
      }

      .nameAndTheme-image {
        @include transform(translateY(-25%));
      }
    }
  }

  .touch &:nth-child(odd) {
    @include if_wider_than($two-column-breakpoint) {
      clear: left;
    }
  }

  @include if_narrower_than($three-column-breakpoint) {
    @include fill-parent();
  }

  @include if_wider_than($three-column-breakpoint) {
    &:nth-of-type(even) {
      @include shift(1);
    }
  }

  .u-fullLink p:last-of-type {
    @include append-libretto-arrow;
  }
}

.nameAndTheme-image {
  @include transition(transform $link-transition-duration);
  max-height: 100%;
  max-width: 100%;
  display: block;

  .touch & {
    @include if_wider_than($two-column-breakpoint) {
      margin: auto;
      max-height: 200px;
    }
  }
}

.nameAndTheme-detail {
  background: $gray;
  color: #fff;
  padding: 1.6rem 2.4rem .6rem;
  width: 100%;

  .no-touch & {
    @include transform(translateY(100%));
    @include transition(transform $link-transition-duration);
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .headerGroup {
    margin: 0;
    padding: 0;
  }
}

.nameAndTheme-detail-body {
  margin-top: 1rem;

  p {
    margin: 0;
  }
}
