.nameAndTheme {
  @include span-columns(11);
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;

  .no-touch &:hover {
    .nameAndTheme-detail {
      @include transform(translateY(0%));
    }

    .nameAndTheme-imageContainer {
      background-position: center 0%;
    }    
  }

  @include if_narrower_than($three-column-breakpoint) {
    @include fill-parent();
  }

  @include if_wider_than($three-column-breakpoint) {
    &:nth-of-type(even) {
      @include shift(1);
    }
  }
}

.nameAndTheme-imageContainer {
  @include transition(background-position $link-transition-duration);
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 400px;

  .no-touch & {
    @include transition(background-position $link-transition-duration);
    background-position: center;
    min-height: 320px;
  }
}

.nameAndTheme-detail {
  background: $gray;
  bottom: 0;
  color: #fff;
  padding: 1.6rem 2.4rem .6rem;
  position: absolute;
  width: 100%;

  .no-touch & {
    @include transform(translateY(100%));
    @include transition(transform $link-transition-duration);
  }

  .headerGroup {
    margin: 0;
    padding: 0;
  }
}

.nameAndTheme-detail-body {
  margin-top: 1rem;

  p {
    margin: 0;
  }

  p:last-of-type {
    @include append-libretto-arrow;
  }
}
