.overlay {
  background: rgba(58, 58, 58, .85);
  display: none;
  overflow-y: scroll;
  @include position(fixed, 0px 0px 0px 0px);
  text-align: left;
  -webkit-overflow-scrolling: touch;
  z-index: 1;

  &.overlay--visible {
    @include animation(fadein $link-transition-duration);
    display: block;
  }
}

.overlay-gridContainer {
  @include if_wider_than($overlay-breakpoint) {
    min-width: 290px;
    @include outer-container;
    padding: 8rem $overflow-width;
  }

  @include if_narrower_than($overlay-breakpoint) {
    padding: 1rem 1rem 50vh;
  }
}

.overlay-lightbox {
  background: #fff;
  overflow: auto;

  @include if_wider_than($overlay-breakpoint) {
    @include shift(1);
    @include span-columns(21);
  }
}

.overlay-lightbox-header {
  background: $purple;
  color: #fff;
  overflow: auto;
  padding: 1.8rem 0;
  position: relative;

  h2 {
    margin: 0;
    @include shift(2 of 21);

    @include if_narrower_than($overlay-breakpoint) {
      font-size: 1rem;
    }
  }
}

.overlay-dismiss {
  cursor: pointer;
  height: 35px;
  @include position(absolute, 28px 0px null null);
  @include direction-context(right-to-left) {
    @include shift(1 of 21);
  }

  @include if_narrower_than($overlay-breakpoint) {
    top: 22px;
  }

  line {
    stroke: rgba(255, 255, 255, .7);
    stroke-width: 1px;
  }
}

.overlay-content {
  font-size: 1rem;
  padding: 1rem 0 3rem;

  @include if_wider_than($two-column-breakpoint) {
    @include shift(2 of 21);
    @include span-columns(18 of 21);
  }

  @include if_narrower_than($two-column-breakpoint) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .avatar {
    @include if_wider_than($two-column-breakpoint) {
      @include direction-context(right-to-left) {
        @include span-columns(4 of 18);
      }
    }
  }

  .overlay-content-contentSide {
    @include if_wider_than($two-column-breakpoint) {
      @include span-columns(13 of 18);
    }
  }
}
