$header-font: 'Hurme', 'Helvetica', 'sans-serif';
$body-font: 'Calluna', 'serif';

$purple: #612659;
$blue: #00aeef;
$dark-blue: darken($blue, 10%);
$gray: #3a3936;
$lightest-gray: #f8f8f8;
$light-gray: #c0c0c0;
$border-gray: #e2e2e2;

$overflow-width: 20px;
$header-height: 60px;
$header-inner-height: 43px;
$logo-height: 23.5px;

$link-transition-duration: .2s;
