.workPreview {
  background: $lightest-gray;
  margin-bottom: 4rem;
  position: relative;
  @include span-columns(11);
  text-align: center;
  @include transition(background $link-transition-duration);

  @include if_narrower_than($three-column-breakpoint) {
    @include fill-parent();
  }

  @include if_wider_than($two-column-breakpoint) {
    height: 280px;
  }

  @include if_narrower_than($two-column-breakpoint) {
    padding: 3rem 0 0;
  }

  @include if_wider_than($three-column-breakpoint) {
    &:not(.workPreview--fullWidth):nth-child(even) {
      @include shift(1);
    }
  }

  .no-touch &:hover {
    background: $purple;
  }

  .u-fullLink {
    @include if_wider_than($two-column-breakpoint) {
      @include align-items(flex-end);
      @include display(flex);
      @include flex-wrap(wrap);
    }
  }

  .u-boxLabel {
    @include if_wider_than($two-column-breakpoint) {
      margin: 0 auto;
    }
  }
}

.workPreview--fullWidth {
  @include fill-parent();
  clear: both;
}

.workPreview--borders {
  border: 1px solid $border-gray;
  border-width: 1px 0 1px;
}

.workPreview-image {
  border-radius: 50%;
  margin-left: -35px;
  @include position(absolute, -35px null null 50%);
  width: 70px;
}

.workPreview-header {
  color: $purple;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0 auto;
  width: 90%;

  @include if_narrower_than($two-column-breakpoint) {
    font-size: 1.8rem;
  }

  .no-touch .workPreview:hover & {
    color: #fff;
  }

  .workPreview--fullWidth & {
    @include if_wider_than($two-column-breakpoint) {
      box-sizing: content-box;
      padding: 0 12%;
      width: 75%;
    }
  }
}
