.workDetail-article {
  overflow: auto;

  + #workDetailGallery {
    margin: 1rem 0;
  }
}

.workDetail-article-content {
  margin-top: 2rem;

  @include if_wider_than($three-column-breakpoint) {
    @include span-columns(14);
    @include shift(1);
  }

  @include if_wider_than_and_narrower_than($two-column-breakpoint, $three-column-breakpoint) {
    @include span-columns(21);
    @include shift(1);
    float: none;
  }

  @include if_narrower_than($two-column-breakpoint) {
    @include fill-parent();
  }
}

.workDetail-article-margin {
  background: $gray;
  color: #fff;
  padding: 1rem 0 2.5rem;

  @include if_wider_than($three-column-breakpoint) {
    @include shift(1);
    @include span-columns(6);

    > * {
      @include shift(1 of 6);
    }
  }

  @include if_narrower_than($three-column-breakpoint) {
    clear: both;
    margin: 2rem 0 0;

    > * {
      @include shift(1);
    }
  }
}

.workDetail-article-margin-title {
  color: $blue;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.workDetail-media {
  clear: both;
  margin: 4rem 0;
  overflow: auto;

  @include if_wider_than($two-column-breakpoint) {
    @include display(flex);
  }

  figure {
    margin: 0;

    @include if_wider_than($two-column-breakpoint) {
      @include flex(1);

      &:not(:first-child) {
        @include shift(1);
      }
    }

    @include if_narrower_than($two-column-breakpoint) {
      @include fill-parent();
      display: block;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }

  img {
    display: block;
    width: 100%;
  }
}
