.arrowList {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1.3em;

  li {
    position: relative;
  }

  li::before {
    color: $blue;
    content: '–\00BB';
    margin-right: .3em;
    @include position(absolute, 0 0 0 -1.3em);
  }
}
