.arrowList {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1.3em;

  li {
    position: relative;

    @include prepend-libretto-arrow {
      margin-right: .3em;
      @include position(absolute, null null null -1.3em);
    }

    > a {
      color: inherit;
    }
  }
}

.arrowList--large {
  font-size: 1.5rem;
}
