.blogExcerpt {
  margin-bottom: 4rem;
  overflow: auto;

  @include if_narrower_than($two-column-breakpoint) {
    margin-bottom: 2rem;
  }

  .headerGroup {
    margin: 0;
    padding: 0;
  }
}

.blogExcerpt article {
  @include if_wider_than($two-column-breakpoint) {
    @include shift(.5);
    @include span-columns(19);
  }

  .u-fullLink p:last-of-type {
    @include append-libretto-arrow;
  }
}

.blogExcerpt-next {
  color: $purple;
  font-family: $header-font;
  font-size: .8rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;

  @include if_wider_than($two-column-breakpoint) {
    @include shift(3);
  }
}

.blogExcerpt-avatar {
  border-radius: 50%;

  @include if_wider_than($two-column-breakpoint) {
    @include shift(.5);
    @include span-columns(2);
  }

  @include if_narrower_than($two-column-breakpoint) {
    display: none;
  }  
}

.blogExcerpt-date {
  font-style: italic;
  margin: 0;

  a {
    font-style: normal;
  }
}
