.excerpt {
  p:last-of-type {
    @include append-libretto-arrow;
  }
}

.excerpt.hero {
  border: 1px solid $border-gray;
  border-width: 1px 0 0;
  margin-top: 4rem;
}

.excerpt--column {
  @include span-columns(7);
  margin-top: 4rem;

  &:not(:first-of-type) {
    @include shift(1);
  }
}

.excerpt-fullLink {
  color: inherit;
  display: block;
  overflow: auto;
}

.excerpt-imageCenter {
  border-radius: 50%;
  @include shift(2 of 7);
  @include span-columns(3 of 7);
}

.excerpt-author {
  color: $light-gray;
  display: block;
  font-size: .8em;
  margin: 0;
  text-transform: uppercase;
}

.excerpt-contentFull {
  @include span-columns(19);
  @include shift(2);
}

.excerpt-contentSide {
  @include span-columns(11);
  @include shift(2);
}

.excerpt-imageSide,
.excerpt-imageFull {
  line-height: 0;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.excerpt-imageFull {
  @include fill-parent();
}

.excerpt-imageSide {
  @include span-columns(9);
}
