.excerpt {
  position: relative;

  p:last-of-type {
    @include append-libretto-arrow;
  }
}

.excerpt.hero {
  border: 1px solid $border-gray;
  border-width: 1px 0 0;
  margin-top: 4rem;
}

.excerpt--column {
  margin-top: 4rem;
  
  @include if_wider_than($three-column-breakpoint) {
    @include span-columns(7);

    &:not(:nth-child(3n+1)) {
      @include shift(1);
    }
  }

  @include if_wider_than_and_narrower_than($two-column-breakpoint, $three-column-breakpoint) {
    @include span-columns(11);

    &:nth-child(2n) {
      @include shift(1);
    }
  }

  @include if_narrower_than($two-column-breakpoint) {
    @include fill-parent();
  }
}

.excerpt-fullLink {
  color: inherit;
  display: block;
  outline: none;

  &:hover .headerGroup-mainhead {
    border-color: $gray;
  }
}

.excerpt-author {
  color: $light-gray;
  display: block;
  font-size: .8em;
  margin: 0 0 2rem;
  text-transform: uppercase;
}

.excerpt-contentFull {
  @include if_wider_than($headline-collapse-breakpoint) {
    @include span-columns(19);
    @include shift(2);
  }

  @include if_narrower_than($headline-collapse-breakpoint) {
    @include fill-parent();
  }
}

.excerpt-contentSide {
  @include if_wider_than($headline-collapse-breakpoint) {
    @include span-columns(11);
    @include shift(2);
  }

  @include if_narrower_than($headline-collapse-breakpoint) {
    @include fill-parent();
  }
}

.excerpt-imageCenter {
  border-radius: 50%;
  @include shift(2 of 7);
  @include span-columns(3 of 7);
}

.excerpt-imageSide,
.excerpt-imageFull {
  line-height: 0;
  overflow: hidden;
}

.excerpt-imageFull {
  @include fill-parent();

  img {
    width: 100%;
  }
}

.excerpt-imageSide {
  @include span-columns(9);
  @include position(absolute, 0px $overflow-width 0px null);

  @include if_narrower_than($headline-collapse-breakpoint) {
    display: none;
  }

  img {
    max-height: 120%;
    min-height: 100%;
    min-width: 100%;
  }
}

.hero {
  .excerpt-imageFull {
    @include fill-overflow();
    padding: 0;
  }

  .excerpt-imageSide {
    margin-right: -$overflow-width;
  }
}
