.headerGroup {
  font-size: 2.3rem;
  line-height: 1;
  margin: 2rem 0 1rem;

  .hero-headline & {
    font-size: inherit;
  }

  @include if_narrower_than($headline-collapse-breakpoint) {
    font-size: 2rem;
  }
}

.headerGroup--small {
  clear: both;
  font-size: 2rem;
  padding-top: 2.5rem;

  @include if_narrower_than($headline-collapse-breakpoint) {
    font-size: 1.5rem;
  }
}

.headerGroup-prehead {
  color: $blue;
  font-size: 1rem;
}

.headerGroup-mainhead,
.headerGroup-subhead {
  font-size: inherit;
  margin: 0;
}

.headerGroup-mainhead {
  border-bottom: 1px solid transparent;
  display: inline;

  &::before, &::after {
    content: '';
    display: block;
  }

  .no-touch .u-fullLink:hover & {
    border-color: $gray;
  }
}

.headerGroup-subhead {
  font-family: $body-font;
  font-weight: 400;
}

.headerGroup-subhead--arrow {
  @include append-libretto-arrow;
}
