.headerGroup {
  margin: 2rem 0 1rem;
}

.headerGroup--small {
  clear: both;
  padding-top: 2.5rem;
}

.headerGroup-prehead {
  color: $blue;
}

.headerGroup-mainhead,
.headerGroup-subhead {
  font-size: 2.3rem;
  margin: 0;

  @include if_narrower_than($headline-collapse-breakpoint) {
    font-size: 2rem;
  }

  .headerGroup--small & {
    font-size: 2rem;

    @include if_narrower_than($headline-collapse-breakpoint) {
      font-size: 1.5rem;
    }
  }
}

.headerGroup-subhead {
  @include append-libretto-arrow;
  font-family: $body-font;
  font-weight: 400;
}
