.hero {
  @include fill-overflow();
  overflow: auto;
}

.hero--darkBackground {
  background-color: $gray;
  color: #fff;
}

.hero--lightBackground {
  background: #f8f8f8;
  border: 1px solid $border-gray;
  border-width: 1px 0 1px 0;
}

.hero--largeMargin {
  margin-bottom: 7.5rem;
  margin-top: 7.5rem;
}

.hero-headline {
  font-size: 2.8rem;
  font-weight: 400;
  margin: .1em 0;
  text-align: center;
  word-spacing: -.1em;
}
