.index {
  .services {
    position: relative;

    .headerGroup {
      margin-top: 4rem;
    }

    .arrowList {
      @include shift(1 of 11);
      margin-bottom: 4rem;
    }
  }

  .additional {
    overflow: auto;
  }

  .mantra {
    overflow: hidden;
  }
}
