.index {
  .hero-headline {
    .logoWithoutPeriod {
      height: 2.8rem;
      padding-top: .75rem;
    }
  }

  .services {
    position: relative;

    .headerGroup {
      margin-top: 4rem;
    }

    .arrowList {
      margin-bottom: 4rem;
      @include shift(1 of 11);

      li {
        margin: 1rem 0;
      }
    }
  }

  .additional {
    overflow: auto;
  }
}
