.index {
  .services {
    .headerGroup {
      margin-top: 4rem;
    }

    .arrowList {
      @include shift(1 of 11);
    }
  }

  .additional {
    overflow: auto;
  }

  .mantra {
    overflow: hidden;
  }
}
