.mainNavigation {
  background: rgba(255, 255, 255, 1);
  min-width: 290px;
  @include outer-container;
  padding: 1rem $overflow-width 0;
  @include position(fixed, 0px 0px null 0px);
  @include transition(.2s);
  @include user-select(none);
  z-index: 1;

  @include if_wider_than($navigation-collapse-breakpoint) {
    border-bottom: 1px solid $border-gray;
  }

  .logotype {
    opacity: 1;
    @include transition(.2s);
  }

  a, a:visited, a:active {
    color: $purple;
    display: inline-block;
    text-decoration: none;
  }
}

.mainNavigation--miniLogo {
  background: rgba(255, 255, 255, 0);
  
  .logotype {
    opacity: 0;
  }
}

.mainNavigation--unCollapsed {
  background: rgba(255, 255, 255, 1);

  .mainNavigation-sections {
    display: block;
  }
}

.mainNavigation-logo {
  font-family: $header-font;
  font-size: 2rem;
  font-weight: 800;

  svg {
    display: inline-block;
    fill: $purple;
    height: 1rem;
    padding: 0 .5rem 0 1.25rem;
    @include position(relative, -.2rem null null null);

    @include if_narrower_than($navigation-collapse-breakpoint) {
      padding-left: 0;
      padding-right: .25rem;
    }
  }
}

.mainNavigation-menuExpander {
  cursor: pointer;
  float: right;
  padding: 15px 15px 0;
  @include position(relative, null -15px null null);

  @include if_wider_than($navigation-collapse-breakpoint) {
    display: none;
  }

  svg {
    fill: $purple;
    height: 1rem;
  }
}

.mainNavigation-sections {
  @include if_wider_than($navigation-widest-breakpoint) {
    @include direction-context(right-to-left) {
      @include shift(2)
    }
  }

  @include if_narrower_than($navigation-collapse-breakpoint) {
    display: none;
    
    // need more specificity to override utility function
    .mainNavigation & { float: none; }
  }
}

.mainNavigation-sections-link {
  outline: none;
  padding: 1rem 1rem .4rem;

  &:hover {
    border-bottom: 1px solid $purple;
  }

  @include if_narrower_than($navigation-collapse-breakpoint) {
    border-bottom: 1px solid $purple;
    padding: .6rem 0;
    width: 100%;

    &:last-of-type, &:last-of-type:hover { border-bottom: 0 }
  }
}
