.mainFooter {
  background-color: $gray;
  color: #fff;
  @include fill-overflow();
  margin-top: 4rem;
  overflow: auto;
  padding: 2rem 0 4rem;
}

.mainFooter-logo {
  @include shift(2);
  @include span-columns(14);

  h3 {
    font-family: $header-font;
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
  }

  p {
    margin: .5rem 0;
  }

  span:not(:last-child)::after {
    color: $blue;
    content: ' | ';
  }
}

.mainFooter-contact {
  @include span-columns(7);
  float: right;
}

.mainFooter-contact-social {
  height: 38px;
  padding-top: 12px;

  a {
    display: inline-block;
    margin-right: .5rem;
  }
  
  svg {
    height: 20px;
    fill: $blue;
  }
}

.mainFooter-contact-address {
  margin: .5rem 0 1rem;

  span {
    display: block;
    font-style: normal;
  }
}
