.mainNavigation {
  background: rgba(255, 255, 255, 1);
  min-width: 290px;
  @include outer-container;
  padding: 1rem $overflow-width 0;
  @include position(fixed, 0px 0px null 0px);
  @include transition(.2s);
  @include user-select(none);
  z-index: 1;

  @include if_wider_than($navigation-collapse-breakpoint) {
    border-bottom: 1px solid $border-gray;
  }

  &.mainNavigation--miniLogo {
    background: rgba(255, 255, 255, 0);
    
    .logoWithPeriod {
      opacity: 0;
    }
  }

  &.mainNavigation--unCollapsed {
    background: rgba(255, 255, 255, 1);

    .mainNavigation-sections {
      display: block;
    }
  }
}

.mainNavigation-logo {
  display: inline-block;
  margin-top: .6rem;
  position: relative;

  @include if_wider_than($navigation-collapse-breakpoint) {
    @include span-columns(6);
  }

  .logoWithPeriod {
    height: calc(#{$header-inner-height} - .6rem);
    opacity: 1;
    padding: 0 0 .6rem;
    @include shift(2 of 6);
    @include transition(.2s);
    vertical-align: bottom;

    @include if_narrower_than($navigation-collapse-breakpoint) {
      margin-left: 3rem;
    }
  }

  .swash {
    height: 1rem;
    @include position(absolute, null null .7rem 1.25rem);

    @include if_narrower_than($navigation-collapse-breakpoint) {
      left: 0;
    }
  }
}

.mainNavigation-menuExpander {
  cursor: pointer;
  height: $header-inner-height;
  min-width: 36px;
  position: relative;

  @include direction-context(right-to-left) {
    @include span-columns(2);
  }

  @include if_wider_than($navigation-collapse-breakpoint) {
    display: none;
  }

  .menuExpander {
    fill: $purple;
    height: 1rem;
    @include position(absolute, null 0px .7rem null);
  }
}

.mainNavigation-sections {
  @include if_wider_than($navigation-widest-breakpoint) {
    @include direction-context(right-to-left) {
      @include shift(2)
    }
  }

  @include if_narrower_than($navigation-collapse-breakpoint) {
    display: none;
    float: none;
  }
}

.mainNavigation-sections-link {
  display: inline-block;
  outline: none;
  padding: 1rem 1rem .4rem;
  position: relative;
  text-decoration: none;

  &::after {
    border-bottom: 1px solid transparent;
    content: '';
    @include position(absolute, null 0px -1px 0px);
    width: 100%;
  }

  &, &:visited, &:active {
    color: $purple;
  }

  &.mainNavigation-sections-link--currentPage, &:hover {
    &::after {
      border-bottom-color: $purple;
    }
  }

  @include if_narrower_than($navigation-collapse-breakpoint) {
    padding: .6rem 0;
    width: 100%;

    &::after {
      border-bottom-color: $purple;
    }

    &:last-of-type::after, &:last-of-type:hover::after {
      border-bottom: 0;
    }
  }
}
