@mixin fill-overflow {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% + 40px);
}

@mixin append-libretto-arrow {
  &::after {
    color: $blue;
    content: ' –\00BB';
    @content;
  }
}

@mixin prepend-libretto-arrow {
  &::before {
    color: $blue;
    content: ' –\00BB';
    @content;
  }
}

@mixin if_narrower_than($breakpoint) {
  @media screen and (max-width: $breakpoint - 1) {
    @content
  }
}

@mixin if_wider_than($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content
  }
}

@mixin if_wider_than_and_narrower_than($breakpoint1, $breakpoint2) {
  @media screen and (min-width: $breakpoint1) and (max-width: $breakpoint2 - 1) {
    @content
  }
}
