@mixin fill-overflow {
  width: calc(100% + 40px);
  margin-left: -20px;
}

@mixin append-libretto-arrow {
  &::after {
    color: $blue;
    content: ' –\00BB';
    @content;
  }
}

@mixin prepend-libretto-arrow {
  &::before {
    color: $blue;
    content: ' –\00BB';
    @content;
  }
}

@mixin if_narrower_than($breakpoint) {
  @media screen and (max-width: $breakpoint - 1) {
    @content
  }
}

@mixin if_wider_than($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content
  }
}
