.tabs {
  margin: 4rem 0;
}

.tabs-navigation {
  @include if_wider_than($three-column-breakpoint) {
    @include display(flex);
  }

  @include if_narrower_than($three-column-breakpoint) {
    display: none;
  }
}

.tabs-navigation-link {
  background: $lightest-gray;
  color: $gray;
  display: block;
  @include flex(1);
  font-size: 1.2rem;
  padding: 2.5rem 1.5rem;
  position: relative;

  .no-touch &:not(.active):hover {
    background: transparentize($purple, .75);
  }

  &.active {
    background: $purple;
    color: #fff;

    &::after {
      background: $purple;
      content: '';
      height: 18px;
      @include position(absolute, null null -9px calc(50% - 9px));
      @include transform(rotate(45deg));
      width: 18px;
    }
  }
}

.tab-section-header {
  span {
    display: block;
  }

  :first-child {
    font-family: $header-font;
    font-weight: bold;
  }
}

.tabs-contents {
  overflow: auto;
}

.tab-content {
  overflow: auto;
  padding: 2rem 0 0;

  @include if_narrower_than($three-column-breakpoint) {
    &:first-child {
      padding-top: 0;
    }
  }

  @include if_wider_than($three-column-breakpoint) {
    display: none;
  }

  &.visible {
    display: block;
  }

  .tab-section-header {
    color: $purple;
    display: none;

    @include if_narrower_than($three-column-breakpoint) {
      display: block;
    }
  }
}

.tab-article {
  overflow: auto;

  article {
    @include if_wider_than($three-column-breakpoint) {
      @include shift(3);
      @include span-columns(17);
    }
  }
}

.tab-caseStudy {
  clear: both;
  margin-top: 4rem;

  @include if_narrower_than($three-column-breakpoint) {
    margin-top: 2rem;
  }

  @include if_wider_than($two-column-breakpoint) {
    background: $lightest-gray;
  }

  a {
    display: block;
    overflow: auto;

    @include if_wider_than($two-column-breakpoint) {
      padding: 1rem 0 3rem;
    }
  }

  .headerGroup {
    margin: 0;
    padding: 0;

    @include if_wider_than($two-column-breakpoint) {
      @include shift(1);
      @include span-columns(21);
    }
  }
}
