.u-pullLeft {
  float: left;
}

.u-pullRight {
  float: right;
}

.u-purple {
  color: $purple;
}

.u-boxLabel {
  background: $gray;
  clear: both;
  color: #fff;
  display: inline-block;
  font-family: $header-font;
  font-size: .8rem;
  font-weight: bold;
  margin: 3rem 0 1px;
  padding: .4rem 3rem;
  text-transform: uppercase;
}

.u-fullLink {
  color: inherit;
  display: block;
  height: 100%;
  outline: none;
}
