$header-font: 'Hurme', 'Helvetica', 'sans-serif';
$body-font: 'Calluna', 'serif';

$purple: #851e76;
$blue: #00aeef;
$gray: #3a3936;
$lightest-gray: #f8f8f8;
$light-gray: #c0c0c0;
$border-gray: #e2e2e2;

$overflow-width: 20px;
$header-height: 60px;
$header-inner-height: 43px;
