.relatedCaseStudy {
  @include if_wider_than($two-column-breakpoint) {
    background: $lightest-gray;
  }

  a {
    display: block;
    overflow: auto;

    @include if_wider_than($two-column-breakpoint) {
      padding: 1rem 0 3rem;
    }
  }

  .headerGroup {
    margin: 0;
    padding: 0;

    @include if_wider_than($two-column-breakpoint) {
      @include shift(1);
      @include span-columns(21);
    }
  }
}
