%svg.menuExpander{:viewBox => "0 0 612 272", :x => "0px", :y => "0px"}
  %rect{:height => "46", :width => "612", :y => "0"}
  %rect{:height => "46", :width => "612", :y => "113"}
  %rect{:height => "46", :width => "612", :y => "226"}
