%svg.overlay-dismiss{:viewBox => "0 0 45 45", :x => "0px", :y => "0px"}
  %line{"stroke-miterlimit" => "10", :x1 => "0.5", :x2 => "44.5", :y1 => "0.5", :y2 => "44.5"}
  %line{"stroke-miterlimit" => "10", :x1 => "0.5", :x2 => "44.5", :y1 => "44.5", :y2 => "0.5"}

