%footer.mainFooter
  %section
    Libretto.
    Strategy | Messaging | Content

  %section
    facebook
    twitter
    560 Harrison Avenue
    Suite 405
    Boston, MA 02118
    617.451.5113
    hey@libretto-inc.com
