---
title: 'Names and Themes'
---

%section.hero.hero--smallMargin
  %h1.hero-headline
    %strong.u-purple Names and Themes

.nameAndTheme
  = link_to 'work-detail.html', class: 'u-fullLink' do
    = image_tag('http://placehold.it/600x600', :class => 'nameAndTheme-image')
    .nameAndTheme-detail
      .headerGroup.headerGroup--small.headerGroup--tight
        %h2.headerGroup-mainhead 10,000 Reasons
        %span.headerGroup-prehead The Campaign for Salem State
      .nameAndTheme-detail-body
        %p $100 million comprehensive campaign for Salem State University in Massachusetts — the largest in their history

.nameAndTheme
  = image_tag('http://placehold.it/600x120', :class => 'nameAndTheme-image')
  .nameAndTheme-detail
    .headerGroup.headerGroup--small.headerGroup--tight
      %h2.headerGroup-mainhead 10,000 Reasons
      %span.headerGroup-prehead The Campaign for Salem State
    .nameAndTheme-detail-body
      %p $100 million comprehensive campaign for Salem State University in Massachusetts — the largest in their history
