---
title: 'Names and Themes'
---

%section.hero.hero--smallMargin
  %h1.hero-headline
    %strong.u-purple Names and Themes

- 8.times do
  .nameAndTheme
    = link_to 'work-detail.html', class: 'u-fullLink nameAndTheme-imageContainer', style: 'background-image: url(http://placehold.it/300x300)' do
      .nameAndTheme-detail
        .headerGroup.headerGroup--small.headerGroup--tight
          %h2.headerGroup-mainhead 10,000 Reasons
          %span.headerGroup-prehead The Campaign for Salem State
        .nameAndTheme-detail-body
          %p $100 million comprehensive campaign for Salem State University in Massachusetts — the largest in their history
